*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
}
::-webkit-scrollbar {
  width: 0;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #ccc;
}
::-webkit-scrollbar-thumb {
  background: #000;
}
::-webkit-scrollbar-thumb:hover {
  background: #000;
}
#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
}
@keyframes upDown {
  0% {
    top: 51%;
  }
  100% {
    top: 49%;
  }
}
p{
  white-space: break-spaces;
}
.box-icon:hover{
  background-color: #0000009c;
  transform: scale(1.05);
  border: 2px solid #fcf6fc;
}
.box-icon:hover span,
.box-icon:hover p,
.box-icon:hover h3,
.box-icon:hover svg{
  color: #fcf6f4;
  fill: #fcf6f4;
}
.section{
  align-items: center;
}
.fp-watermark{
  display: none;
}
label{
  color: #686868;
  font-weight: bold;
  margin-bottom: 0 !important;
}
input,
textarea{
  color: #fcf6f4 !important;
  border-bottom: 1px solid #fcf6f4 !important;
  border-radius: 0px !important;
}
textarea{
  resize: none;
}
.contact-section{
  background-color: #000;
}
#fp-nav ul li .fp-tooltip{
  color: #705b5b !important;
}
.Toastify__toast-container{
  position: absolute !important;
  width: 39vw !important;
}
@media(max-width: 888px){
  .spaceman{
    display: none;
  }
}

@media(max-width: 700px){
  .fjQwa-d{
    height: 10px !important;
  }
  .kyyffq{
    font-size: 18px !important;
  }
  .about-box{
    left: 42px !important;
    width: 80vw !important;
  }
  .skills{
    font-size: 11px !important;
  }
}
.slick-track{
  padding: 15px 0;
}
.slick-list{
  padding-top: 5px !important;
  padding-bottom: 5px !important; 
}
.slick-initialized .slick-slide{
  padding-left: 10px;
  padding-right: 10px;
}